.loginPage {

  .loginContent {
    display: flex;

    .inputLoginBox {
      max-width: 400px;
      margin: 10% auto 0 auto;

      .inputLogin {
        margin-bottom: 3%;
      }

      .signUpBox {
        display: flex;
        flex-direction: row;
        margin-top: 3%;
        justify-content: space-between;
        text-align: center;
      }

    }
  }
}